<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/post.css' />
    <script type="module" src="components/cards/cardPost.js"></script>
    <script src="javascripts/domain.js"></script>
    <title>{{title}}</title>
</head>

<body>
    <main class="w-100 pl-4">
        <div class="header d-flex justify-content-between align-items-center pb-3">
            <div class="dropdown">
                <li class="nav-item" style="list-style: none;">
                    <a data-mdb-dropdown-init class="nav-link dropdown-toggle d-flex align-items-center" href="#"
                        id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        Lọc
                    </a>
                    <ul class="dropdown-menu .bg-primary" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">Gần đây</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Hàng đầu</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Phổ biến</a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="input-group d-flex align-items-center px-2"
                style="width: 300px; border: #8f8f8f 2px solid; border-radius: 10px;">
                <i class="bi bi-search" id="searchButton" style="cursor: pointer;"></i>
                <input type="text" class="input-search form-control border-0" placeholder="Search..." id="searchInput">
            </div>
        </div>            
        <div class="wrapper-posts" id="wrapper-posts"></div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="load-more w-100" id="load-more">Tải thêm <i class="bi bi-chevron-down"></i></div>
            <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </div>
    </main>
    <script src="javascripts/post.js"></script>
</body>

</html>