<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/report.css" />
    <script type="module" src="components/cards/cardUser.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="javascripts/domain.js"></script>
</head>

<body>
    <main class="w-100 pl-4">
        <div class="header d-flex justify-content-start align-items-center pb-3">
            <div class="dropdown">
                <li class="nav-item" style="list-style: none;">
                    <a data-mdb-dropdown-init class="nav-link dropdown-toggle d-flex align-items-center" href="#"
                        id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        Lọc
                    </a>
                    <ul class="dropdown-menu main-dropdown" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#" id="recent-filter">Mới nhất</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" id="isblock-filter"
                                data-status="675437f55efa7f0643e94b29">Các bài viết đã vi phạm</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" id="isunblock-filter"
                                data-status="67571c815a8315a938d40c97">Các bài viết chưa vi phạm</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" id="reporter-filter" data-sort="-1">Xếp số người
                                báo cáo giảm dần</a>
                        </li>
                         <li>
                            <a class="dropdown-item" href="#" id="rePorter-filter" data-sort="+1">Xếp số người
                                báo cáo tăng dần</a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>

        <div class="table-container p-0">
            <div class="table-wrapper">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Chủ bài viết</th>
                            <th>Thông tin bài viết</th>
                            <th>Số người báo cáo</th>
                            <th>Cập nhật lần cuối</th>
                            <th>Điểm vi phạm</th>
                            <th>Số lần đã chặn</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="clearfix">
                <div class="hint-text">Hiện không có báo cáo bài viết nào</div>
                <ul class="pagination justify-content-center">
                    <li class="page-item" id="prev">
                        <a class="page-link" href="#"><i class="fa fa-angle-double-left"></i></a>
                    </li>
                    <div id="pages" class="pages-container"></div>
                    <li class="page-item" id="next">
                        <a class="page-link" href="#"><i class="fa fa-angle-double-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Modal xem người báo cáo -->
        <div class="modal fade" id="reportersListModal" tabindex="-1" role="dialog"
            aria-labelledby="reportersListModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="width: 50%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Danh sách người báo cáo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul id="reportersList" class="list-group">
                            <!-- Danh sách người báo cáo sẽ được hiển thị ở đây -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <script src="javascripts/report.js"></script>
</body>

</html>