<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/user.css' />
    <script type="module" src="components/modals/modalEditUser.js"></script>
</head>

<body>
    <main class="w-100 pl-4">
        <div class="header d-flex justify-content-end align-items-center pb-3">
            <div class="input-group d-flex align-items-center px-2"
                style="width: 300px; border: #8f8f8f 2px solid; border-radius: 10px;">
                <i class="bi bi-search"></i>
                <input type="text" class="input-search form-control border-0" placeholder="Search..." id="searchInput">
            </div>
        </div>
        <div class="table-container p-0">
            <div class="table-wrapper">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="resizable-col">Email</th>
                            <th class="resizable-col">Vai trò</th>
                            <th class="resizable-col">Tên</th>
                            <th class="resizable-col">Giới tính</th>
                            <th class="resizable-col">Bạn bè</th>
                            <th class="resizable-col">Thời gian tạo</th>
                            <th class="resizable-col">Trạng thái</th>
                            <th class="resizable-col">Bio</th>
                            <th class="resizable-col">Đăng nhập lần cuối</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="clearfix">
                <div class="hint-text">Hiển thị <b>5</b> trên tổng số <b>25</b> người dùng</div>
                <ul class="pagination justify-content-center">
                    <li class="page-item" id="prev">
                        <a class="page-link" href="#"><i class="fa fa-angle-double-left"></i></a>
                    </li>
                    <div id="pages" class="pages-container"></div>
                    <li class="page-item" id="next">
                        <a class="page-link" href="#"><i class="fa fa-angle-double-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
            aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center">
                        <h2><i class="bi bi-exclamation-circle text-warning pr-2"></i></h2></i>
                        <h5 class="modal-title" id="confirmDeleteModalLabel">CHẶN TÀI KHOẢN</h5>
                        <button type="button" class="close" aria-label="Close">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="confirmDeleteModalBody">
                        Bạn có chắc muốn chặn tài khoản này không? Hành động này không thể được hoàn tác.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button btn-secondary dismis-modal">Hủy</button>
                        <button type="button" class="button btn-danger" id="confirmDeleteBtn">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="roleUserModal" tabindex="-1" role="dialog" aria-labelledby="roleUserModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="roleUserModalLabel">Phân vai trò người dùng</h5>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="container-role" class="container-role d-flex flex-wrap">
                            {{!-- <div class="wapper-role rounded border-0 bg-secondary py-1 px-2 mr-1 d-flex align-item-center">
                                <span id="role-name" class="text-light">Admin</span>
                                <button type="button" class="close ml-1 p-0" aria-label="Close"
                                    onclick="this.parentElement.remove()">
                                    <span aria-hidden="true" class="text-center text-light">&times;</span>
                                </button>
                            </div> --}}
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group m-0">
                            <div class="d-flex">
                                <select class="form-control mr-2" id="select-role">
                                    {{!-- <option value="" selected>Chọn vai trò</option>
                                    <option value="admin">Admin</option>
                                    <option value="giangvien">Giảng viên</option>
                                    <option value="sinhvien">Sinh viên</option>
                                    <!-- Thêm các vai trò khác nếu cần --> --}}
                                </select>
                                <button type="button" class="button btn-primary" onclick="addRole()">Thêm</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button btn-secondary" id="closeModalFooter">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="javascripts/user.js"></script>
</body>

</html>